.button {
    display: flex;
    justify-content: center;
    padding: 10px 0px 50px 0px;
}

.btn {
    
    border-radius: 25px;
    background: linear-gradient(#9356DC, #FF79DA);
    color: white;
    padding: 1rem 1.4rem;
    font-size: 1.5rem;
    border: none;
    @include base-shadow;
    
    &:hover {
        @include zoom;
    }
}



